.blog-title
  = @cover_blog.title rescue ""
%hr
.center.blog-cover-image
  = image_tag("blog1.png")
.blog-body
  %p
    = truncate(simple_format(@cover_blog.content), escape: false, length: 340) rescue ""
.readmore-link
  = link_to "Read More >>", blog_path(@cover_blog)
