.col-xs-12
  = render 'layouts/header'
  .col-sm-12.col-md-6.col-md-offset-1
    .center.jumbotron
      .learnmore-title
        %h1= "Your ideas brought to life through AR."
        = link_to "Learn More", "", class: "btn btn-lg btn-primary learnmore-link"