.col-xs-12#partners
  .col-xs-12
    .partners-title
      = "Partners"
  .col-sm-12.col-md-2.partner-logo
    = link_to image_tag("partner1.png"), "http://thecoffeecreatives.com", target: "_blank"
  .col-sm-12.col-md-2.partner-logo
    = link_to image_tag("partner2.png"), "http://consonantsolutions.com/", target: "_blank"
  .col-sm-12.col-md-2.partner-logo
    = link_to image_tag("partner3.png"), "https://www.facebook.com/vrphilippines/", target: "_blank"
