%footer.footer.navbar-inverse
  .container-fluid.footer-container
    %h5
      .row
        .col-sm-6.col-xs-12
          .copyright
            = "Copyright © iMagesBlues 2016"
        .col-sm-6.col-xs-12
          .contact
            = "contact@imagesblues.com"