%footer.footer
  .container-fluid.footer-container.white_gray_gradient
    %h5
      .row
        .col-sm-12
          .col-sm-12
            .copyright
              %p= "© 2017 imagineAR"
              %p= "Legal"
              %p= "Privacy Policy"